.main{
    min-height: 1000px;
    flex: 1;
    flex-direction: column;
    width:100% ;
}

.openMessage{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.findLift{
    flex: 3;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    width: 100%;
    display: flex;
}

#mainly{
    display: flex;
}