
  
  .toolBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img {
    cursor: pointer;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
  }
  
  .menu-button-container {
    display: none;
  }
  
  .buttons-container {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  
  .headerButton {
    color: white;
  }
  
  .buttonText {
    color: white;
  }
  
  @media (max-width: 555px) {
    .buttons-container {
      display: none;
    }
    .menu-button-container {
      display: flex;
    }
    .toolBar{
        flex-direction: column;
        justify-content: space-between;
    }
  }
  




  #toolBAR{
    margin-top: 25px;
    width: 93%;
    border-radius: 10px;
  }